@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
 font-family: Roboto, sans-serif;
 font-size: 14px;
 color: #383838;
}
.input-group {
 position: relative;
 margin: 40px auto;
 width:  100%;
}
.form-control {
 position: relative;
 z-index: 1;
 width: 100%;
 height: 35px;
 font-size: 16px;
 border: none;
 border-bottom: 1px solid #d9d9d9;
 background-color: transparent;
}
.form-control + label {
 position: absolute;
 top: 10px;
 left: 3px;
 font-size: 16px;
 color: #151517;
 transition: all 0.2s ease-out;
}
.form-control:focus {
 outline: none;
 border-width: 2px;
 border-color: #151517;
 transition: all 0.2s ease-out;
}
.form-control:focus + label, .form-control.has-value + label {
 top: -15px;
 color: #151517;
 font-size: 12px;
}

.input-group .label-country {
   outline: none;
   border-width: 2px;
   border-color: #151517;
   transition: all 0.2s ease-out;
   top: -15px;
   color: #151517;
   font-size: 12px;
}

.form-control.has-value:not(:focus) + label {
 color: #999;
}

textarea.form-control {
 height: 120px;
}