/* Core styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

h2,
h3 {
  padding: 1em 0;
}

p {
  padding: 1em 0;
  margin: 0;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  text-decoration: none;
  padding: 0.5em 2em;
  border: 2px solid #333;
  margin-bottom: 2.5em;
}

.btn:hover {
  background: #333;
  color: #eaeaea;
}

/* Grid styles for page */

.grid {
  display: grid;    
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 60px 60px auto auto auto 60px;
}

.header {
  grid-column: span 6;
}

.navbar {
  grid-column: span 6;
}

.category {
  grid-column: span 6;
}

.mens-tshirt {
  grid-column: span 3;
}

.womens-tshirt {
  grid-column: span 3;
}

.footer {
  grid-column: span 6;
}

/* Header area */

.header div {
  align-self: center;
}

.header div:nth-child(2) {
  grid-column: 2/6
}

.header div:nth-child(3) {
  justify-self: end;
  padding-right: 2em;
}

.hamburger {
  display: none;
}

.cart {
  font-size: 1.5em;
}

/* Navbar area */

.navbar {
  display: inline;
  align-self: center;
  list-style: none;
  text-align: center;
  font-size: 0.7em;
}

.navbar ul li {
  display: inline-grid;
  position: relative;
  margin-right: 1em;
  padding: 1em;
}

.navbar ul li:hover {
  background-color: #999;
  border-bottom:1.5px solid;
}

.navbar ul li.active{
  border-bottom:1.5px solid;
}

/* Main area */
.banner-image {
  height: 250px;
  object-fit: cover;
}

/* Footer area */

.footer p {
  padding: 0;
  color: #666;
  font-size: 70%;
}

.footer .btn {
  display: inline-block;
  text-decoration: none;
  font-size: 80%;
  padding: 0.5em 1em;
  margin: 0.5em 0 0 0;
  background: #333;
  color: #eaeaea;
}

@media screen and (max-width: 699px) {
  .grid {
    display: grid;    
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px auto auto auto 60px;
  }

  .hamburger {
    display: inline-block;
  }

  .navbar {
    display: none;
  }
}

