<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/checkout.css">
  <link rel="stylesheet" href="../css/material.css">
  <link rel="stylesheet" href="../css/materialCheckbox.css">
  <title>Shop Online</title>
</head>

<body>
  <!-- sidenav -->
  <div id="mySidenav" class="sidenav">
    <div id="sidenav-inner" class="sidenav-inner">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="productListing.html">Men's Outerwear</a>
      <a href="productListing.html">Ladies Outerwear</a>
      <a href="productListing.html">Men's T-Shirts</a>
      <a href="productListing.html">Ladies T-Shirts</a>
    </div>
    <div class="sidenav-inner-second" onclick="closeNav()"></div>
  </div>

  <main class="product-list grid">
    <header class="header grid">
      <div class="hamburger" onclick="openNav()">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <!-- &#9776; can also be used for hamburger icon -->
      </div>
      <div>
        <strong>
          <div>
            <strong>
              <a href="../index.html">Shop</a>
            </strong>
          </div>
        </strong>
      </div>
      <div class="cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
    </header>

    <section class="navbar">
      <ul>
        <li class="active">
          <a href="productListing.html">Men's Outerwear</a>
        </li>
        <li>
          <a href="productListing.html">Ladies Outerwear</a>
        </li>
        <li>
          <a href="productListing.html">Men's T-Shirts</a>
        </li>
        <li>
          <a href="productListing.html">Ladies T-Shirts</a>
        </li>
      </ul>
    </section>

    <!-- Product Detail -->
    <section class="category checkout-detail">
      <div class="checkout-title">
        Checkout
        <p>Shop is a demo app. Form-data will not be sent.</p>
      </div>
      <form action="#" method="">
        <div class="checkout-form">
          <div class="form-section-1">

            <strong>Account Information</strong>
            <div class="input-group">
              <input type="email" class="form-control" required>
              <label>Email</label>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" required>
              <label>Phone Number</label>
            </div>

            <strong>Shipping Address</strong>
            <div class="input-group">
              <input type="text" class="form-control" required>
              <label>Address</label>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" required>
              <label>City</label>
            </div>

            <div class="address-line">
              <div class="input-group">
                <input type="text" class="form-control" required>
                <label>State/Province</label>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" required>
                <label>Zip/Postal Code</label>
              </div>
            </div>

            <div class="input-group">
              <label>Country</label>
              <select name="country" id="country" class="form-control">
                <option value="India">India</option>
                <option value="Nepal">Nepal</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Sri Lanka">Sri Lanka</option>
              </select>
            </div>

            <strong>Billing Address</strong>
            <div class="md-checkbox">
              <input type="checkbox" required>
              <label>Use different billing address</label>
            </div>
          </div>

          <!-- second column -->
          <div class="form-section-2">

            <strong>Payment Method</strong>
            <div class="input-group">
              <input type="text" class="form-control" required>
              <label>Cardholder Name</label>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" required>
              <label>Card Number</label>
            </div>

            <div class="input-group">
              <label>Expiry</label>
              <div class="credit-card-line">
                <div class="input-group">
                  <select name="expiry" id="expiry-month" class="form-control">
                    <option value="Jan">Jan</option>
                    <option value="Feb">Feb</option>
                    <option value="Mar">Mar</option>
                    <option value="Apr">Apr</option>
                  </select>
                </div>

                <div class="input-group">
                  <select name="expiry" id="expiry-year" class="form-control">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                  </select>
                </div>

                <div class="input-group">
                  <input type="number" class="form-control" required>
                  <label>CVV</label>
                </div>
              </div>
            </div>


            <strong>Order Summary</strong>
            <div class="order-summary">
              <div class="item-name">Full-zip Hoodie</div>
              <div class="item-price">$22.45</div>
              <div class="item-name">Black Shirt</div>
              <div class="item-price">$20.10</div>
              <div class="item-name">Full-sleeve T-Shirts</div>
              <div class="item-price">$15</div>
              <div class="item-name">--------------------------------</div>
              <div class="item-price">------------</div>
              <div class="item-name">Total</div>
              <div class="item-price">$115.67</div>
            </div>
            <a href="../index.html" class="btn">PLACE ORDER</a>
          </div>

        </div>
      </form>
    </section>

    <footer class="footer">
      <div class="footer-large">
        <p> Made by Saurabh </p>
        <a href="#" class="btn">DEMO ONLY</a>
      </div>
    </footer>

  </main>

  <section class="mobile-footer">
    <a href="../index.html">
      <div> PLACE ORDER </div>
    </a>
  </section>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "100%";
      document.getElementById("sidenav-inner").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("sidenav-inner").style.width = "0";
    }
  </script>
</body>

</html>