<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/productDetail.css">
  <title>Shop Online</title>
</head>

<body>
  <main class="product-list grid">
    <header class="header grid">
      <div class="hamburger">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div>
        <strong>
          <div>
            <strong>
              <a href="../index.html">Shop</a>
            </strong>
          </div>
        </strong>
      </div>
      <div class="cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
    </header>

    <section class="navbar">
      <ul>
        <li class="active">
          <a href="views/productListing.html">Men's Outerwear</a>
        </li>
        <li>
          <a href="views/productListing.html">Ladies Outerwear</a>
        </li>
        <li>
          <a href="views/productListing.html">Men's T-Shirts</a>
        </li>
        <li>
          <a href="views/productListing.html">Ladies T-Shirts</a>
        </li>
      </ul>
    </section>

    <!-- Product Detail -->
    <section class="category grid product-detail">
      <div class="image">
        <img class="product-image" src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14215B.jpg" alt="">
      </div>
      <div class="detail">
        <div class="title">Full-zip Hoodie</div>
        <p>$22.15</p>
        <br>
        <hr>
        <form class="detail-form" action="">
          <div class="measure">
            <div class="label">Size</div>
            <div class="right">
              <select name="size" id="size">
                <option value="S">S</option>
                <option value="M" selected>M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="measure">
            <div class="label">Quantity</div>
            <div class="right">
              <select name="size" id="size">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          </div>
          <hr>
          <br>
          <div>
            <strong>Description</strong>
            <p>
              You'll be swooning over this crew neck as soon as you feel how soft it is.
            </p>
            <p>
              Features:
            </p>
            <ul>
              <li>40% preshrunk ring-spun cotton, 60% polyester terry fleece.</li>
              <li>Available in dark heather charcoal with the white Google logo screen printed across center chest.</li>
            </ul>
            <a href="#" class="btn">ADD TO CART</a>
          </div>
        </form>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-large">
        <p> Made by Saurabh </p>
        <a href="#" class="btn">DEMO ONLY</a>
      </div>
    </footer>

  </main>

  <section class="mobile-footer">
    <a href="#">
      <div> ADD TO CART </div>
    </a>
  </section>
</body>

</html>