<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/productListing.css">
  <title>Shop Online</title>
</head>

<body>
  <main class="product-list grid">
    <header class="header grid">
      <div class="hamburger">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div>
        <strong>
          <div>
            <strong>
              <a href="../index.html">Shop</a>
            </strong>
          </div>
        </strong>
      </div>
      <div class="cart">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </div>
    </header>

    <section class="navbar">
      <ul>
        <li class="active">
          <a href="views/productListing.html">Men's Outerwear</a>
        </li>
        <li>
          <a href="views/productListing.html">Ladies Outerwear</a>
        </li>
        <li>
          <a href="views/productListing.html">Men's T-Shirts</a>
        </li>
        <li>
          <a href="views/productListing.html">Ladies T-Shirts</a>
        </li>
      </ul>
    </section>

    <section class="category mens-outer">
      <img class="banner-image" src="https://shop.polymer-project.org/es6-unbundled/images/mens_outerwear.jpg" alt="">
      <p> Men's Outerwear </p>
      <p class="desc">(16 Items)</p>
    </section>

    <section class="category grid product-list">

      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14154B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>
      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14157B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>
      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14146B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>
      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14146B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>
      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14215B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>
      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14215B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>
      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14154B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>
      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14216B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>
      <div class="item">
        <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14154B.jpg" alt="">
        <div>
          <strong> Full-zip Hoodie </strong>
        </div>
        <p>$29.55</p>
      </div>

      <!-- <div class="item">
        <div class="card">
          <img src="https://shop.polymer-project.org/es6-unbundled/data/images/10-14216B.jpg" alt="">
          <div class="card-content">
            <div class="card-content">
              <h3 class="card-title">Full-zip Hoodie</h3>
              <p>$29.55</p>
            </div>
        </div>
      </div> -->
    </section>

    <footer class="footer">
      <p> Made by Polymer </p>
      <a href="#" class="btn">DEMO ONLY</a>
    </footer>

  </main>
</body>

</html>